.friend_contain{
    margin: 80px auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 10px;
    .reguest{
        text-align: center;
        grid-column: 1 / -1;
    }
    .friend{
        background-color: rgb(255, 255, 255);
        border: 0;
        border-radius: 20px;
        h2{
            margin: 20px auto ;
        }
        img{
            max-width: 260px;
            margin-top: 20px;
        }
        button:nth-of-type(1){
            background-color: #1B74E4;
            color: white;
            border: 0;
            padding: 10px 15px;
            width: 80%;
            border-radius: 20px;
            margin: 5px;
            cursor: pointer;
            &:active{
                background-color: #000000;
                // pointer-events:none;
            }
        }
        button:nth-of-type(2){
            background-color: rgb(201, 201, 201);
            color: black;
            border: 0;
            padding: 10px 15px;
            width: 80%;
            border-radius: 20px;
            margin: 5px;
            cursor: pointer;
        }
    }

}