.watch{
    max-width: 1000px;
    margin: 50px auto;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    iframe{
        margin: 20px ;
    }
}